*{
    margin: 0;
    padding: 0;
}

.bellgraph-page{
    background-color: #090909;
    height: 400vh;
}

.outfit{
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bg_mainpage{
    /* margin-left: 75px; handled by Layout */
}

.bg_subjects{
    margin: 20px;
    border-radius: 30px;
    border: 2px solid #272727;
    display: flex;
    /* gap: 15px; */
    padding: 10px 20px;
    justify-content: space-between;
}

.bg_subjects>div{
    border-radius: 20px;
    background: linear-gradient(209deg, rgba(43, 153, 0, 0.30) -0.03%, rgba(0, 0, 0, 0.15) 37.8%), rgba(55, 55, 55, 0.50);
    padding: 10px 90px;
}

.bg_subjects>div>p{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2.4px;
}

#selected_subject{
    background: linear-gradient(251deg, rgba(0, 0, 0, 0.50) 8.93%, rgba(43, 153, 0, 0.50) 56.61%), linear-gradient(0deg, rgba(43, 153, 0, 0.20) 0%, rgba(43, 153, 0, 0.20) 100%), rgba(55, 55, 55, 0.50);
}

.bg_main{
    display: flex;
    gap: 35px;
    justify-content: space-evenly;
}

.bg_graph>p{
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 14px;
    display: none;
    pointer-events: none;
}

.bg_graphright{
    margin-right: 30px;
}

.bg_graphright>:nth-child(1){
    border-radius: 15px;
    background: linear-gradient(225deg, rgba(0, 0, 0, 0.60) 19.67%, rgba(43, 153, 0, 0.00) 100%), rgba(43, 153, 0, 0.60);
    display: flex;
    gap: 5px;
    padding: 10px 20px;
}

.bg_graphright>:nth-child(1)>:nth-child(1){
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -1px;
    margin-top: 20px;
}

.bg_graphright>:nth-child(1)>:nth-child(2){
    color: #FFF;
    font-size: 110px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 11px;
}

.bg_details{
    margin-top: 20px;
    border-radius: 15px;
    border: 2px solid #272727;
    background: linear-gradient(209deg, rgba(43, 153, 0, 0.30) -0.03%, rgba(0, 0, 0, 0.15) 37.8%), rgba(55, 55, 55, 0.25);
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg_details>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.bg_details>div>p{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bg_details span{
    color: #2B9900;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bg_ads{
    border-radius: 15px;
    border: 1px solid #FFF;
    width: 90%;
    height: 40vh;
    background: rgba(217, 217, 217, 0.07);
    margin: 30px 20px;
}
