*{
  margin: 0;
  padding: 0;
}

.pricing-page {
    background: url('/assets/pricingback.png');
    background-size: cover;
    height: 100vh;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 50px 0;
  }
  
  .pricing-card {
    /* width: 338px; */
    height: 450px;
    flex-shrink: 0;
    border-radius: 31px;
    background: rgba(55, 55, 55, 0.50);
    backdrop-filter: blur(7.5px);
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    color: #FFF;
  }
  
  .plan-name {
    display: flex;
    width: 15vw;;
    height: 41px;
    justify-content: left;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    margin-top:10px;
    margin-left:-10px;
  }
  
  .plan-price {
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: left;
    margin-bottom: 40px;
  }
  
  .plan-price.free {
    width: 197px;
    font-family: Poppins, sans-serif;
    font-size: 85px;
    font-weight: 400;
    line-height: 30px;
    margin-top:5px;
    margin-left:-95px;
  }
  
  .plan-price .rupee {
    width: 362px;
    font-family: Poppins, sans-serif;
    font-size: 85px;
    font-weight: 400;
    line-height: 30px;
    margin-top:5px;
    margin-left:-10px;
  }
  
  .plan-price .mo {
    font-family: Poppins, sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 30px;
    margin-left: -200px;
  }
  
  .features {
    display: flex;
    width: 275px;
    height: 164px;
    flex-direction: column;
    justify-content: center;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.9px;
    padding-left: 0;
    margin: 20px 0;
    list-style: none;
  }
  
  .features li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    /* margin-left:10px; */
}



.green-letter {
    color: #2B9900;
}

.icon {
    gap: 10px;
}
  
  .green-icon{
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #2B9900;
    border-radius: 50%;
  }
  
  .red-icon{
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #990000;
    border-radius: 50%;
  }
  
  .get-now {
    width: 287px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 37.5px;
    border: 1px solid #2B9900;
    background: linear-gradient(94deg, rgba(43, 153, 0, 0.50) -18.4%, rgba(55, 55, 55, 0.50) 51.2%, rgba(43, 153, 0, 0.50) 122.21%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .get-now-text {
    display: flex;
    width: 121px;
    height: 45px;
    flex-direction: column;
    justify-content: center;
    font-family: Outfit, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -1.75px;
    color: #FFF;
  }
  
