*{
    margin: 0;
    padding: 0;
}

.register-page{
    background-image: url("/assets/bgloginsignup.png");
    background-color: #000; 
    background-size: cover; 
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat;
}

.outfit{
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.register-page>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 15px;
}

form>input{
    line-height: 30px;
    font-size: 20px;
    color: #FFF;
    width: 333px;
    border-radius: 5px;
    border: 1px solid #7A7A7A;
    background: rgba(48, 48, 48, 0.55);
    padding: 20px 20px;
}

form>input::placeholder{
    line-height: 30px;
    font-size: 20px;
}

form>button{
    margin-top: 40px;
    border-radius: 40px;
    border: 3px solid rgba(72, 255, 0, 0.40);
    background: rgba(40, 86, 22, 0.75);
    padding: 10px 100px;
}

form>button>p{
    color: #FFF;
    font-size: 22px;
}
