.verify-page {
    margin: 0;
    padding: 0;
    background: url('/assets/background.png');
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    margin-top:20vh;
    text-align: center;
    color: white;
}

.title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

.highlight {
    color: #2B9900;
}

.subtitle {
    display: flex;
    width: 225px;
    height: 25px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin: 0 auto 20px;
}

.role-boxes {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 30px;
}

.role-box {
    display: flex;
    width: 126px;
    height: 150px;
    padding: 0px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 17px;
    border: 3px solid rgba(43, 153, 0, 0.27);
    background: #181818;
    text-decoration: none;
}

.role-text {
    display: flex;
    width: 93px;
    height: 36px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.signup-section {
    margin-top: 20vh;
    font-size: 14px;
}

.signup-section a {
    color: #b1fcb1;
    text-decoration: underline;
}
