<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CampusConnect</title>
    <link rel="stylesheet" href="/styles/verify.css">
</head>
<body>
    <div class="container">
        <!-- <h1 class="title">Campus<span class="highlight">C</span>onnect</h1> -->
        <p class="subtitle">What is your role?</p>

        <div class="role-boxes">
            <a href="/signup" class="role-box">
                <div class="role-text">Student</div>
            </a>
            <a href="/auth/prof/signup" class="role-box">
                <div class="role-text">Professor</div>
            </a>
            <a href="/auth/admin/signup" class="role-box">
                <div class="role-text">Admin</div>
            </a>
        </div>

        <div class="signup-section">
            <p>Not registered? <a href="http://localhost:3000/signup">Sign up</a></p>
        </div>
    </div>
</body>
</html>
