<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/Admindashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
            <p class="logo">Campus<span>C</span>onnect</p>
            <a href="" class="notification"><img src="./assets/notification(1) 1.png" alt="notification"></a>
            <a href="" class="profile"><img src="./assets/user(2) 1.png" alt="profile"></a>
    </header>
    <div class="sidebar">
        <ul>
            <li><a href=""><img src="./assets/question-and-answer 1.png" alt=""> <span class="text">Q&A<span>Forum</span></span></a></li>
            <li><a href=""><img src="./assets/attendance 1.png" alt=""> <span class="text">Attendance<span>Tracking</span></span></a></li>
            <li><a href=""><img src="./assets/wave-graph 1.png" alt=""> <span class="text">Grade<span>Prediction</span></span></a></li>
        </ul>
    </div>
    <div id="content_space_div">
        <div id="top_row">
            <div id="dash_welcm_admn_div">
                <div class="green_gradient" id="dashboard_div">
                    Dashboard
                </div>
                <div id="welcm_nd_admn_div">
                    <div class="green_gradient" id="welcome_div">
                        Welcome back,
                    </div>
                    <div id="admin_div">
                        Admin
                    </div>
                </div>
            </div>
            <div id="date_holding_container_outer">
                <div id="date_holding_container_inner">
                    <img id="date_img"  src="./assets/Rectangle 76.svg" alt="a_bloody_box">
                    <div id="content_inside_dateboox_container">
                        <div id="day" class="contents_inside_datebox">
                            Tuesday  
                        </div>
                        <div id="date" class="contents_inside_datebox">
                            18
                        </div>
                        <div id="month_year" class="contents_inside_datebox">
                            March, 2025 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="banner_div">
            <div class="banner" id="banner_1">
                <div class="left_box">
                    <div class="title">
                        Title:
                    </div>
                    <div class="abhisarga">
                        Abhisarga
                    </div>
                </div>
                <div class="middle_box">
                    <img class="banner_img" src="./assets/Group 128.png" alt="">
                </div>
                <div class="right_box">
                    <button class="accept_button">Accept</button>
                    <button class="reject_button">Reject</button>
                </div>
            </div>
            <div class="banner" id="banner_2">
                <div class="left_box">
                    <div class="title">
                        Title:
                    </div>
                    <div class="abhisarga">
                        Abhisarga
                    </div>
                </div>
                <div class="middle_box">
                    <img class="banner_img" src="./assets/Group 124.png" alt="">
                </div>
                <div class="right_box">
                    <button class="accept_button">Accept</button>
                    <button class="reject_button">Reject</button>
                </div>
            </div>
            <div class="banner" id="banner_3">
                <div class="left_box">
                    <div class="title">
                        Title:
                    </div>
                    <div class="abhisarga">
                        Abhisarga
                    </div>
                </div>
                <div class="middle_box">
                    <img class="banner_img" src="./assets/Group 123.png" alt="">
                </div>
                <div class="right_box">
                    <button class="accept_button">Accept</button>
                    <button class="reject_button">Reject</button>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>