<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/Dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body class="outfit">
    <%- include("header.ejs") %>
    <%- include("sidebar.ejs") %>
        <div class="db_mainpage">
            <div class="db_mainmain">
                <p>
                    Welcome <%= name %>
                </p>
                <div class="db_clubs">
                    <div class="db_banners">
                         <img src="./assets/abhisarga_banner.png" alt="">
                    </div>
                    <div class="db_date">
                        <p class="db_dateblack">Friday</p>
                        <p>14</p>
                        <p class="db_dateblack">March, 2025 </p>
                    </div>
                </div>
                <div class="db_attengrade">
                    <div class="db_subject">
                        <div class="db_grade">
                            <p>AI</p>
                            <p>Predicted Grade</p>
                            <p>O <span>A</span> B C D P F</p>
                        </div>
                        <div class="db_attendance">
                             <p>Attendance</p>
                             <div class="progress-container">
                                 <svg width="100" height="100">
                                     <circle cx="50" cy="50" r="40" class="background-circle"></circle>
                                     <circle cx="50" cy="50" r="40" class="progress-ring progress-circle"></circle>
                                    </svg>
                                    <div class="progress-text" id="progress-text">0%</div>
                            </div>
                        </div>
                    </div>
                    <div class="db_subject">
                        <div class="db_grade">
                            <p>AI</p>
                            <p>Predicted Grade</p>
                            <p>O <span>A</span> B C D P F</p>
                        </div>
                        <div class="db_attendance">
                             <p>Attendance</p>
                             <div class="progress-container">
                                 <svg width="100" height="100">
                                     <circle cx="50" cy="50" r="40" class="background-circle"></circle>
                                     <circle cx="50" cy="50" r="40" class="progress-ring progress-circle"></circle>
                                    </svg>
                                    <div class="progress-text" id="progress-text">0%</div>
                            </div>
                        </div>
                    </div>
                    <div class="db_subject">
                        <div class="db_grade">
                            <p>AI</p>
                            <p>Predicted Grade</p>
                            <p>O <span>A</span> B C D P F</p>
                        </div>
                        <div class="db_attendance">
                             <p>Attendance</p>
                             <div class="progress-container">
                                 <svg width="100" height="100">
                                     <circle cx="50" cy="50" r="40" class="background-circle"></circle>
                                     <circle cx="50" cy="50" r="40" class="progress-ring progress-circle"></circle>
                                    </svg>
                                    <div class="progress-text" id="progress-text">0%</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="db_topq">
                    <p>Top Questions of the Week</p>
                    <div>
                        <div class="problem">
                            <div class="votes">
                                <p>1 votes</p>
                                <p>1 answer</p>
                                <p>21 views</p>
                            </div>
                            <div class="main">
                                <h4>find time half hour before "06:00 AM" in sql</h4>
                                <p>I have a column of times in my table. I believe they are now in strings format. The format of each time is just represented in hours, for example "06:00 AM". How can I get a time half hour ...</p>
                                <div class="tags">
                                    <div><p>sql</p></div>
                                    <div><p>string</p></div>
                                    <div><p>time</p></div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="useruser">
                                    <img src="./assets/duck_with_A_gun 1.png" alt="">
                                    <p>terrorist_duck_911467</p>
                                </div>
                            </div>
                            <div class="updownvote">
                                <div class="upvote-triangle"></div> 
                                <div class="downvote-triangle"></div>                           
                            </div>
                        </div>
                        <div class="problem">
                            <div class="votes">
                                <p>1 votes</p>
                                <p>1 answer</p>
                                <p>21 views</p>
                            </div>
                            <div class="main">
                                <h4>find time half hour before "06:00 AM" in sql</h4>
                                <p>I have a column of times in my table. I believe they are now in strings format. The format of each time is just represented in hours, for example "06:00 AM". How can I get a time half hour ...</p>
                                <div class="tags">
                                    <div><p>sql</p></div>
                                    <div><p>string</p></div>
                                    <div><p>time</p></div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="useruser">
                                    <img src="./assets/duck_with_A_gun 1.png" alt="">
                                    <p>terrorist_duck_911467</p>
                                </div>
                            </div>
                            <div class="updownvote">
                                <div class="upvote-triangle"></div> 
                                <div class="downvote-triangle"></div>                           
                            </div>
                        </div>
                        <div class="problem">
                            <div class="votes">
                                <p>1 votes</p>
                                <p>1 answer</p>
                                <p>21 views</p>
                            </div>
                            <div class="main">
                                <h4>find time half hour before "06:00 AM" in sql</h4>
                                <p>I have a column of times in my table. I believe they are now in strings format. The format of each time is just represented in hours, for example "06:00 AM". How can I get a time half hour ...</p>
                                <div class="tags">
                                    <div><p>sql</p></div>
                                    <div><p>string</p></div>
                                    <div><p>time</p></div>
                                </div>
                            </div>
                            <div class="user">
                                <div class="useruser">
                                    <img src="./assets/duck_with_A_gun 1.png" alt="">
                                    <p>terrorist_duck_911467</p>
                                </div>
                            </div>
                            <div class="updownvote">
                                <div class="upvote-triangle"></div> 
                                <div class="downvote-triangle"></div>                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="db_notice">
                <div class="db_noticeactivities">
                    <div class="db_votes">
                        <div>
                            <p class="db_votesupordown">Upvotes</p>
                            <p>103</p>
                        </div>
                        <div>
                            <p class="db_votesupordown">Downvotes</p>
                            <p>74</p>
                        </div>
                    </div>
                    <div class="noticehr"></div>
                    <div class="activities">
                        <p>Recent Activities</p>
                        <div class="users">
                            <div class="user">
                                <img src="./assets/duck_with_A_gun 1.png" alt="">
                                <div>
                                    <p>Abhiram Reddi</p>
                                    <p>Replied to your question. <br>15 mins ago</p>
                                </div>
                            </div>
                            <div class="user">
                                <img src="./assets/duck_with_A_gun 1.png" alt="">
                                <div>
                                    <p>Abhiram Reddi</p>
                                    <p>Replied to your question. <br>15 mins ago</p>
                                </div>
                            </div>
                            <div class="user">
                                <img src="./assets/duck_with_A_gun 1.png" alt="">
                                <div>
                                    <p>Abhiram Reddi</p>
                                    <p>Replied to your question. <br>15 mins ago</p>
                                </div>
                            </div>
                            <div class="user">
                                <img src="./assets/duck_with_A_gun 1.png" alt="">
                                <div>
                                    <p>Abhiram Reddi</p>
                                    <p>Replied to your question. <br>15 mins ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ads">
                    <p>Ads Come Here</p>   
                </div>
            </div>
        </div>
        <script src="./scripts/dashboard.js"></script>
</body>
</html>