<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/Header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
            <li><p class="logo">Campus<span>C</span>onnect</p></li>
            <li><a href="" class="notification"><img src="./assets/notification(1) 1.png" alt="notification"></a></li>
            <li><a href="" class="profile"><img src="./assets/user(2) 1.png" alt="profile"></a></li>
        </ul>
    </header>
</body>
</html>