<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/Home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dream+Orphans&display=swap" rel="stylesheet">
      
    <title>Campus Connect</title>
</head>
<body class="outfit">
    <%- include("header.ejs", {title: "home"}) %>
    <div class="hero">
        <div>
            <p class="herologo">Campus <br> Connect</p>
            <p class="herodesc">All your academics, insights, & campus <br> updates—connected in one place.</p>
            <a href="http://localhost:3000/signup">
                <button>
                    <p>Sign Up</p>
                </button>
            </a>
        </div>
    </div>
    <hr class="herohr">
    <div class="features">
        <p>Features</p>
        <div class="featurescontent">
            <div>
                <img src="./assets/qandaforum.png" alt="">
                <p>Question & <br>Answer Forum</p>
                <p>More info...</p>
            </div>
            <div>
                <img src="./assets/attendance icon.png" alt="">
                <p>Attendance <br>Tracking Portal</p>
                <p>More info...</p>
            </div>
            <div>
                <img src="./assets/bell graph icon.png" alt="">
                <p>Bell Graph <br>Prediction <br>System</p>
                <p>More info...</p>
            </div>
            <div>
                <img src="./assets/blogging.png" alt="">
                <p>Blogging <br>Platform</p>
                <p>More info...</p>
            </div>
        </div>
    </div>
    <hr class="herohr">
    <div class="demos">
        <div class="d_attendance active">
            <div>
                <p>Attendance</p>
                <p>Tracking <br> Portal</p>
            </div>
            <div>
                <img src="./assets/attendancedemo.png" alt="">
            </div>
        </div>
        <div class="d_attendance">
            <div>
                <p>Attendance</p>
                <p>Tracking <br> Portal</p>
            </div>
            <div>
                <img src="./assets/qandademo.png" alt="">
            </div>
        </div>
        <div class="d_attendance">
            <div>
                <p>Attendance</p>
                <p>Tracking <br> Portal</p>
            </div>
            <div>
                <img src="./assets/attendancedemo.png" alt="">
            </div>
        </div>
        <div class="d_attendance">
            <div>
                <p>Attendance</p>
                <p>Tracking <br> Portal</p>
            </div>
            <div>
                <img src="./assets/attendancedemo.png" alt="">
            </div>
        </div>
        <div class="scroller">
            <button class="btn" id="btnselect"></button>
            <button class="btn"></button>
            <button class="btn"></button>
            <button class="btn"></button>
        </div>
    </div>
    <hr class="herohr">
    <div class="finalsignup">
        <div>
            <p>Ready to get started?</p>
            <p>Create your free account now</p>
            <a href="http://localhost:3000/signup" style="text-decoration: none;">
                <div>
                    <p>Sign Up</p>
                </div>
            </a>
        </div>
    </div>
    <footer>
        <p class="logo">Campus<span>C</span>onnect</p>
        <p>©  All rights reserved</p>
    </footer>
    <script src="./scripts/home.js"></script>
</body>
</html>