<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/Problemslvfrm.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <title>CampusConnect</title>
</head>
<body>
    <nav>
        <ul>
            <li class="menuicon"><img src="./assets/menu.png" alt=""></li>
            <li><p class="logo">CampusConnect</p></li>
            <li><a href="" class="notification"><img src="./assets/notification(1) 1.png" alt="notification"></a></li>
            <li><a href="" class="profile"><img src="./assets/user(2) 1.png" alt="profile"></a></li>
        </ul>
    </nav>
    <div class="maincon">
        <div class="sidebar">
            <ul>
                <li><a href=""><img src="./assets/question-and-answer 1.png" alt=""> <span class="text">Q&A Forum</span></a></li>
                <li><a href=""><img src="./assets/attendance 1.png" alt=""> <span class="text">Attendance Tracking</span></a></li>
                <li><a href=""><img src="./assets/wave-graph 1.png" alt=""> <span class="text">Grade Prediction</span></a></li>
            </ul>
        </div>
        <div class="mainpage">
            <div class="toptop">
                <div class="top">
                    <div class="searchques">
                        <h1 class="outfit">Trending <span>Q</span>uestions</h1>
                        <p class="outfit">Available Questions - 5,34,513</p>
                    </div>
                    <div class="askaques">
                        <button class="outfit">Ask a Question</button>
                    </div>
                </div>
                <div class="searchquesinput">
                    <div class="input">
                      <form action="">
                        <div class="advsearch">
                          <input type="text" placeholder="Search a Question">
                          <button type="submit"><img src="./assets/search.png" alt=""></button>
                        </div>
                      </form>
                    </div>  
                    <div class="filter">
                      <button><img src="./assets/filter (1).png" alt=""></button>
                    </div>
                  </div>
            </div>
            <hr>
            <div class="problems">
                <div class="problem outfit">
                    <div class="votes">
                        <p>1 votes</p>
                        <p>1 answer</p>
                        <p>21 views</p>
                    </div>
                    <div class="main">
                        <h4>find time half hour before "06:00 AM" in sql</h4>
                        <p>I have a column of times in my table. I believe they are now in strings format. The format of each time is just represented in hours, for example "06:00 AM". How can I get a time half hour ...</p>
                        <div class="tags">
                            <div><p>sql</p></div>
                            <div><p>string</p></div>
                            <div><p>time</p></div>
                        </div>
                    </div>
                    <div class="user">
                        <div class="useruser">
                            <img src="./assets/duck_with_A_gun 1.png" alt="">
                            <p>terrorist_duck_911467</p>
                        </div>
                    </div>
                    <div class="updownvote">
                        <div class="upvote-triangle"></div> 
                        <div class="downvote-triangle"></div>                           
                    </div>
                </div>
                <hr class="problemline">
                <div class="problem outfit">
                    <div class="votes">
                        <p>1 votes</p>
                        <p>1 answer</p>
                        <p>21 views</p>
                    </div>
                    <div class="main">
                        <h4>find time half hour before "06:00 AM" in sql</h4>
                        <p>I have a column of times in my table. I believe they are now in strings format. The format of each time is just represented in hours, for example "06:00 AM". How can I get a time half hour ...</p>
                        <div class="tags">
                            <div><p>sql</p></div>
                            <div><p>string</p></div>
                            <div><p>time</p></div>
                        </div>
                    </div>
                    <div class="user">
                        <div class="useruser">
                            <img src="./assets/duck_with_A_gun 1.png" alt="">
                            <p>terrorist_duck_911467</p>
                        </div>
                    </div>
                    <div class="updownvote">
                        <div class="upvote-triangle"></div> 
                        <div class="downvote-triangle"></div>                           
                    </div>
                </div>
                <hr class="problemline">
                <div class="problem outfit">
                    <div class="votes">
                        <p>1 votes</p>
                        <p>1 answer</p>
                        <p>21 views</p>
                    </div>
                    <div class="main">
                        <h4>find time half hour before "06:00 AM" in sql</h4>
                        <p>I have a column of times in my table. I believe they are now in strings format. The format of each time is just represented in hours, for example "06:00 AM". How can I get a time half hour ...</p>
                        <div class="tags">
                            <div><p>sql</p></div>
                            <div><p>string</p></div>
                            <div><p>time</p></div>
                        </div>
                    </div>
                    <div class="user">
                        <div class="useruser">
                            <img src="./assets/duck_with_A_gun 1.png" alt="">
                            <p>terrorist_duck_911467</p>
                        </div>
                    </div>
                    <div class="updownvote">
                        <div class="upvote-triangle"></div> 
                        <div class="downvote-triangle"></div>                           
                    </div>
                </div>
                <hr class="problemline">
                <div class="problem outfit">
                    <div class="votes">
                        <p>1 votes</p>
                        <p>1 answer</p>
                        <p>21 views</p>
                    </div>
                    <div class="main">
                        <h4>find time half hour before "06:00 AM" in sql</h4>
                        <p>I have a column of times in my table. I believe they are now in strings format. The format of each time is just represented in hours, for example "06:00 AM". How can I get a time half hour ...</p>
                        <div class="tags">
                            <div><p>sql</p></div>
                            <div><p>string</p></div>
                            <div><p>time</p></div>
                        </div>
                    </div>
                    <div class="user">
                        <div class="useruser">
                            <img src="./assets/duck_with_A_gun 1.png" alt="">
                            <p>terrorist_duck_911467</p>
                        </div>
                    </div>
                    <div class="updownvote">
                        <div class="upvote-triangle"></div> 
                        <div class="downvote-triangle"></div>                           
                    </div>
                </div>
                <hr class="problemline">
                <div class="problem outfit">
                    <div class="votes">
                        <p>1 votes</p>
                        <p>1 answer</p>
                        <p>21 views</p>
                    </div>
                    <div class="main">
                        <h4>find time half hour before "06:00 AM" in sql</h4>
                        <p>I have a column of times in my table. I believe they are now in strings format. The format of each time is just represented in hours, for example "06:00 AM". How can I get a time half hour ...</p>
                        <div class="tags">
                            <div><p>sql</p></div>
                            <div><p>string</p></div>
                            <div><p>time</p></div>
                        </div>
                    </div>
                    <div class="user">
                        <div class="useruser">
                            <img src="./assets/duck_with_A_gun 1.png" alt="">
                            <p>terrorist_duck_911467</p>
                        </div>
                    </div>
                    <div class="updownvote">
                        <div class="upvote-triangle"></div> 
                        <div class="downvote-triangle"></div>                           
                    </div>
                </div>
                <hr class="problemline">
                <div class="problem outfit">
                    <div class="votes">
                        <p>1 votes</p>
                        <p>1 answer</p>
                        <p>21 views</p>
                    </div>
                    <div class="main">
                        <h4>find time half hour before "06:00 AM" in sql</h4>
                        <p>I have a column of times in my table. I believe they are now in strings format. The format of each time is just represented in hours, for example "06:00 AM". How can I get a time half hour ...</p>
                        <div class="tags">
                            <div><p>sql</p></div>
                            <div><p>string</p></div>
                            <div><p>time</p></div>
                        </div>
                    </div>
                    <div class="user">
                        <div class="useruser">
                            <img src="./assets/duck_with_A_gun 1.png" alt="">
                            <p>terrorist_duck_911467</p>
                        </div>
                    </div>
                    <div class="updownvote">
                        <div class="upvote-triangle"></div> 
                        <div class="downvote-triangle"></div>                           
                    </div>
                </div>
                <hr class="problemline">
                <div class="problem outfit">
                    <div class="votes">
                        <p>1 votes</p>
                        <p>1 answer</p>
                        <p>21 views</p>
                    </div>
                    <div class="main">
                        <h4>find time half hour before "06:00 AM" in sql</h4>
                        <p>I have a column of times in my table. I believe they are now in strings format. The format of each time is just represented in hours, for example "06:00 AM". How can I get a time half hour ...</p>
                        <div class="tags">
                            <div><p>sql</p></div>
                            <div><p>string</p></div>
                            <div><p>time</p></div>
                        </div>
                    </div>
                    <div class="user">
                        <div class="useruser">
                            <img src="./assets/duck_with_A_gun 1.png" alt="">
                            <p>terrorist_duck_911467</p>
                        </div>
                    </div>
                    <div class="updownvote">
                        <div class="upvote-triangle"></div> 
                        <div class="downvote-triangle"></div>                           
                    </div>
                </div>
                <hr class="problemline">
                <div class="problem outfit">
                    <div class="votes">
                        <p>1 votes</p>
                        <p>1 answer</p>
                        <p>21 views</p>
                    </div>
                    <div class="main">
                        <h4>find time half hour before "06:00 AM" in sql</h4>
                        <p>I have a column of times in my table. I believe they are now in strings format. The format of each time is just represented in hours, for example "06:00 AM". How can I get a time half hour ...</p>
                        <div class="tags">
                            <div><p>sql</p></div>
                            <div><p>string</p></div>
                            <div><p>time</p></div>
                        </div>
                    </div>
                    <div class="user">
                        <div class="useruser">
                            <img src="./assets/duck_with_A_gun 1.png" alt="">
                            <p>terrorist_duck_911467</p>
                        </div>
                    </div>
                    <div class="updownvote">
                        <div class="upvote-triangle"></div> 
                        <div class="downvote-triangle"></div>                           
                    </div>
                </div>
                <hr class="problemline">
                <div class="problem outfit">
                    <div class="votes">
                        <p>1 votes</p>
                        <p>1 answer</p>
                        <p>21 views</p>
                    </div>
                    <div class="main">
                        <h4>find time half hour before "06:00 AM" in sql</h4>
                        <p>I have a column of times in my table. I believe they are now in strings format. The format of each time is just represented in hours, for example "06:00 AM". How can I get a time half hour ...</p>
                        <div class="tags">
                            <div><p>sql</p></div>
                            <div><p>string</p></div>
                            <div><p>time</p></div>
                        </div>
                    </div>
                    <div class="user">
                        <div class="useruser">
                            <img src="./assets/duck_with_A_gun 1.png" alt="">
                            <p>terrorist_duck_911467</p>
                        </div>
                    </div>
                    <div class="updownvote">
                        <div class="upvote-triangle"></div> 
                        <div class="downvote-triangle"></div>                           
                    </div>
                </div>
                <hr class="problemline">
            </div>
        </div>

    </div>
<script src="./scripts/problemslvfrm.js"></script>
</body>
</html>