<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/Problemslvfrm.css">
    <title>CampusConnect</title>
</head>
<body>
    <nav>
        <ul>
            <li class="menuicon"><img src="./assets/menu.png" alt=""></li>
            <li><p class="logo">CampusConnect</p></li>
            <li><a href="" class="notification"><img src="./assets/notification(1) 1.png" alt="notification"></a></li>
            <li><a href="" class="profile"><img src="./assets/user(2) 1.png" alt="profile"></a></li>
        </ul>
    </nav>
</body>
</html>