<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/Sidebar.css">
    <title>Document</title>
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="http://localhost:3000/problemslvfrm"><img src="/assets/question-and-answer 1.png" alt=""> <span class="text">Q&A<span>Forum</span></span></a></li>
            <li><a href="http://localhost:3000/attendance"><img src="/assets/attendance 1.png" alt=""> <span class="text">Attendance<span>Tracking</span></span></a></li>
            <li><a href="http://localhost:3000/bellgraph"><img src="/assets/wave-graph 1.png" alt=""> <span class="text">Grade<span>Prediction</span></span></a></li>
        </ul>
    </div>
</body>
</html>