<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/Signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body class="outfit">
    <div>
        <p class="logo">Campus<span>C</span>onnect</p>
        <form action="/auth/signup" method="post">
            <input type="text" placeholder="Name" name="name" required>
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <input type="password" placeholder="Confirm Password" name="confirm_password" required>
            <button type="submit"><p>Sign Up</p></button>
        </form>
        <div class="other">
            <p>Already have an account? <a href="http://localhost:3000/login">Login </a></p>
            <div class="orline">
                <div></div>
                <p>OR</p>
                <div></div>
            </div>
            <a href="http://localhost:3000/auth/google" style="text-decoration: none;">
                <div class="google oauth">
                    <img src="./assets/googlelogo.png" alt="">
                    <p>Continue with Google</p>
                </div>
            </a>
            <a href="http://localhost:3000/auth/github" style="text-decoration: none;">
                <div class="github oauth" >
                    <img src="./assets/githublogo.png" alt="">
                    <p>Continue with Github</p>
                </div>
            </a>
        </div>
    </div>
</body>
</html>