*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #090909;
}

/* searchquestion */

.outfit{
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.mainpage{
    color: white;
    flex-grow: 1;
    /* margin-left: 75px; */
}

.searchques{
    padding: 20px 30px;
}

.searchques>h1{
    color: #FFF;
    font-size: 49px;
    line-height: normal;
}

.searchques>h1>span{
    color: rgba(72, 255, 0, 0.68);
}

.searchques>p{
    font-size: 21px;
    font-style: normal;
    line-height: normal;
    padding-left: 8px;
    padding-top: 10px;
}

.top{
    display: flex;
}
.askaques{
    margin-left: auto;
    margin-top: 60px;
    margin-right: 25px;
}

.askaques button{
    padding: 18px 18px;
    font-size: 16px;
    color: white;
    background-color: #090909;
    border: 3px solid rgba(72, 255, 0, 0.68);
    border-radius: 40px;
}

.searchquesinput{
    color: white;
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.input-container {
    margin-left: auto;
    margin-right: 20px;
    position: relative;
    display: flex;
    align-items: center;
    width: 400px; /* Adjust as needed */
    overflow: hidden;
}

.input{
    /* margin-left: auto;
    margin-right: 20px; */
    position: relative;
    transition: transform 0.5s ease-in-out;
    z-index: 2;
    width: 100%;
}

.hidden-div {
    position: absolute;
    left: 100%;
    width: 100%;
    height: 100%;
    background: rgba(72, 255, 0, 0.68);
    transition: left 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.advsearch {
    position: relative;
    width: 100%;
    margin-right: 25px;
}

.advsearch input {
    height: 55px;
    width: 100%;
    padding: 10px 50px 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    background-color: rgba(217, 217, 217, 0.26);;
    color: white;
}

.advsearch button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.advsearch button img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid white;
}

.advsearch input:focus {
    border-color: #014791;
}

.advsearch input::placeholder {
    color: white;
}

.filter{
    margin-right: 35px;
    margin-left: 5px;
}

.filter>button{
    background-color: #090909;
    border: none;
}

.filter>button>img{
    width: 29px;
}

.toptop{
    margin-bottom: 30px;
}

/* end of toptop */

.problem{
    display: flex;
    margin-left: 5%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.votes{
    width: 8%;
}

.votes>p{
    font-size: 15px;
}

.main{
    margin-left: 4%;
    width: 65%;
}

.main h4{
    color: #FFF;
    margin-bottom: 10px;
}

.tags{
    display: flex; 
    margin-top: 15px;
}

.tags>div{
    /* height: px; */
    border-radius: 40px;
    border: 3px solid rgba(72, 255, 0, 0.68);
    backdrop-filter: blur(15.5px);
    padding: 8px 20px;
    margin: 7px;
}

.tags>div>p{
    font-size: 15px;
}

.user{
    margin-top: auto;
    margin-left: 1%;
    width: 18%;
}

.useruser{
    display: flex;
    align-items: center;
    
}

.useruser>img{
    height: 36px;
    width: 36px;
    margin-right: 10px;
}

.useruser>p{
    font-size: 15px;
}

.problemline{
    opacity: 40%;
}