*{
    margin: 0;
    padding: 0;
}

nav>ul{
    display: flex;
}

nav{
    height: 75px;
    /* background: rgba(165, 165, 165, 0.13); */
    background: black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
}

.menuicon{
   padding: 30px;
}

.menuicon>img{
    height: 17px;
    width: 30px;
}

.logo{
    color: #FFF;
    font-family: Kameron;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 35px;
    padding: 20px 20px;
    padding-left: 0;
}

.notification>img{
    width: 35px;
    height: 35px;
    padding: 20px 10px;
}

nav>ul li:nth-child(3) {
    margin-left: auto; /* This pushes the second list item (icons) to the right */
}

.profile>img{
    width: 55px;
    height: 55px;
    padding: 10px;
    padding-right: 20px;
}