body {
    background: #080808;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-title {
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-left: 35px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  
  .welcome-text {
    font-family: "Open Sans", sans-serif;
    font-size: 70px;
    font-weight: 300;
    line-height: 75px;
    letter-spacing: -3.5px;
    margin-left: 35px;
  }
  
  .gradient-text {
    background: linear-gradient(90deg, #2B9900 0%, #949494 73.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .prof-light {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #FFF;
  }
  
  .prof-bold {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: #FFF;
  }
  
  .assigned-courses-title{
    font-family: Outfit;
    font-size: 30px;
    font-weight: 400;
    color: #FFF;
    margin-left: 35px;
    margin-top: 40px;
}
.assigned-courses-box {
    display: inline-flex;
    height: 235px;
    width: 91vw;
    /* padding: 22px 23px 23px 23px; */
    padding-left:23px;
    padding-top:23px;
    padding-bottom:23px;
    align-items: flex-start;
    gap: 25px;
    border-radius: 20px;
    border: 3px solid #202020;
    margin-top: 10px;
    margin-left:35px;
    margin-right:35px;
    margin-bottom:10px;
}

.course-box {
    display: flex;
    width: 120px;
    height: 190px;
    padding: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(148, 148, 148, 0.5);
    background: rgba(217, 217, 217, 0.08);
    cursor: pointer;
    transition: background 0.3s ease;
}

.course-box:hover,
.course-box.selected {
    background: linear-gradient(41deg, rgba(43, 153, 0, 0.50) 1.84%, rgba(14, 51, 0, 0.50) 92.49%);
}

.course-code {
    display: flex;
    width: 111px;
    height: 53px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #2B9900;
    text-align: center;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.course-section {
    display: flex;
    width: 82px;
    height: 31px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
  
  .operation-buttons {
    display: flex;
    gap: 20px;
    margin: 20px 0px 35px 35px;
  }
  
  .operation-btn {
    width: 580px;
    height: 92px;
    border-radius: 75px;
    border: 3px solid #373737;
    background: rgba(217, 217, 217, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Outfit;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .operation-btn:hover,
  .operation-btn.selected {
    background: linear-gradient(41deg, rgba(43, 153, 0, 0.50) 1.84%, rgba(14, 51, 0, 0.50) 92.49%);
  }
  
  .upload-box {
    width: 90vw;
    height: 352px;
    border-radius: 20px;
    border: 3px solid #202020;
    margin: 35px;
    padding: 20px;
    color: white;
  }
  
  .upload-title {
    font-family: Outfit;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-left: 10px;
  }
  
  .file-upload {
    margin-left: 10px;
  }
  
  /* Hide default input */
  .hidden-file {
    display: none;
  }
  
  /* Styled label as custom button */
  .custom-file-label {
    display: flex;
    width: 45vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #949494;
    background: rgba(217, 217, 217, 0.14);
    cursor: pointer;
  }
  
  /* Inner content layout */
  .upload-content {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  /* Upload icon */
  .upload-icon {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
    background: url('/assets/upload.png') transparent 50% / cover no-repeat;
}
  
  /* Upload text */
  .upload-text {
    width: 228px;
    height: 31px;
    color: #FFF;
    font-family: Outfit;
    font-size: 30px;
    font-weight: 400;
  }
  
  .file-note {
    margin-top: 15px;
    font-size: 14px;
    color: #a8a8a8;
    font-family: Outfit;
    color: #FFF;
  }
  
  .file-note {
    margin-top: 15px;
    font-size: 14px;
    color: #a8a8a8;
    font-family: Outfit;
    color: #FFF;
  }
  .submit-btn {
    width: 376px;
    height: 85px;
    border-radius: 40px;
    border: 3px solid rgba(72, 255, 0, 0.40);
    background: rgba(40, 86, 22, 0.75);
    margin-top: -5vw;
    margin-left:54.8vw;
    cursor: pointer;
  }
  
  .submit-text {
    height: 51px;
    font-family: Outfit;
    font-size: 40px;
    font-weight: 400;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-div{
    width:45vh;
    margin-left:20px;
    margin-top:30px;
  }
  